.workBody {
  height:100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin-top:10px;
  margin-bottom:10px;
  overflow-y:scroll;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
  padding-left:50px;
  padding-right:50px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.workBody::-webkit-scrollbar {
  display: none;
}

#workBodySection {
  padding-bottom:50px;
  display: flex;
}

#workGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
  grid-gap: 40px;
  padding-top: 10px;
  width:100%;
  margin:auto;
}

#workGrid > div {
  background-color:white;
  text-align: center;
  font-size: 30px;
  height:250px;
  overflow:hidden;
  text-align:center;
}
#workGrid > div:hover .hidden{
  transform: translateY(-100%);
}

.workGridBox {
   cursor: -webkit-grab; 
   cursor: grab;
}
.hidden {
  background-color:rgb(181, 62, 97);
  height: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  color:white;
  /* transform: rotate(20deg); */
  font-family:"Overpass", sans-serif;
  font-size:20px;
  padding:10px;
  transition: all 0.3s ease-in-out;
}

.workGridImage {
  height:100%;
  width:100%;
  margin:auto;
  display:flex;
  background-position: center;
  background-size:cover;

}
.workGridImage span{
  font-family:"Raleway", sans-serif;
  font-weight:200;
  color:white;
  margin:30px;
}

#workBodySection2 {
  height:100%;
}
#workBodySection span h1 {
  font-family:"Overpass", sans-serif;
  font-weight:100;
  font-size:50px;
  margin-bottom:0px;
}

#workBodySection span {
  font-family:"Overpass", sans-serif;
  font-weight:100;
  width:700px;
 }

/*** BEGIN POPUP CSS ***/
 .popUpWhiteBox {
  background-color:white;
  z-index:20;
  height:500px;
  width:800px;
  left:50%;
  top:50%;
  -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position:absolute;
  padding:50px 60px 50px 60px;
  -webkit-box-shadow: 0px 6px 26px -17px rgba(77,77,77,1);
  -moz-box-shadow: 0px 6px 26px -17px rgba(77,77,77,1);
  box-shadow: 0px 6px 26px -17px #4d4d4d;
 }

 .blocker {
  background-color:rgb(173, 173, 173, 0.8);
  position:absolute;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
 }
 .popUpTable {
   position:relative;
   width:100%;
   font-family:"Overpass", sans-serif;
 }
 .popUpTable th {
  width:33%;
}

.popUpTable td {
  font-weight:300;
}
.popUpTable td img {
  display:block;
}
.popUpTable .popUpImage {
  height:350px;
  background-size:cover;
}



 /*** END POPUP CSS ***/
