#aboutBody {
    height:100%;
    overflow:hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-top:10px;
    margin-bottom:10px;
}

#aboutBody::-webkit-scrollbar {
    display: none;
}



#aboutHello {
    width:850px;
    position:absolute;
    text-align:left;
    font-family:"Raleway", sans-serif;
    letter-spacing: 3px;
    font-weight:200;
    color:white;
    font-size:100px;
    z-index:1000;
    left:10%;
    top:5%;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

#aboutBodySection1 {
  /* background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ),url("../../assets/images/aboutBackground.png");
    background-size:cover; */
    display: flex;
    height:2400px;
    position:relative;
    text-align: center;
    /* background-repeat: no-repeat; */
}


#aboutBackground{
  filter:brightness(0%);
  width:100%;
}

#aboutBackground.landing{
  animation: landing ease 5s;
  animation-fill-mode: forwards;
}
@keyframes landing {
  0% {transform: translateY(0px)}
  20% {filter:brightness(100%)}
  100% {transform:translateY(-75%); filter:brightness(100%)}
  
}
#spacecraft {
  position:absolute;
  top:15%;
  left:10%;
  z-index:100;
  transform:rotateZ(40deg);
  opacity:0;
}
#spacecraft.spacecraftLanding{
  animation: spacecraftLanding ease 5s;
  animation-fill-mode: forwards;
}
@keyframes spacecraftLanding {
  0% {transform: rotateZ(40deg); opacity:0}
  20% {opacity:1}
  50% {transform:rotateZ(0deg); opacity:1}
  100% {transform:rotateZ(0deg);opacity:1}
}

#reentryBurn {
  position:absolute;
  top:12%;
  left:-2%;

  z-index:100;
  opacity:0;
}

#reentryBurn.burnOff {
  animation: burnOff ease 5s;
  animation-fill-mode: forwards;
}

@keyframes burnOff {
  0% {opacity:0}
  25% {opacity:1}
  75% {opacity:0}
  100% {opacity:0}
  
}

#scroll {
  position:absolute;
  top:20%;
  left:2%;
}

#scroll.vanish {
  animation: vanish ease 1s;
  animation-fill-mode: forwards;
}

@keyframes vanish {
  0% {opacity:1}
  100% {opacity:0}
}

#aboutHello.upNAway {
  animation: upNAwayAnim ease 1.5s;
  animation-fill-mode: forwards;
}

@keyframes upNAwayAnim {
  0% {transform: translateY(0px)}
  100% {transform:translateY(-500px); display:none;}
  
}

#aboutText {
  position:fixed;
  left:10%;
  top:30%;
  color:white;
  width:400px;
  text-align:left;
  font-family:"Overpass", sans-serif;
  font-weight:300;
  opacity:0;
  transition:opacity 5s;
}
#aboutText.aboutTextShow {
  animation: aboutTextShow ease 5s;
  animation-fill-mode: forwards;
}

@keyframes aboutTextShow {
  0% {opacity:0}
  90% {opacity:0}
  100% {opacity:1}
  
}
